@use "@/assets/scss/colors.scss" as *;

@font-face {
    font-family: 'Livvic-Bold';
    src:  url('assets/fonts/Livvic-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Overpass-Light';
    src:  url('assets/fonts/Overpass-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Overpass-Bold';
    src:  url('assets/fonts/Overpass-Bold.ttf') format('truetype');
}

.mirte {
  font-family: 'Livvic-Bold';
}


// Layout of the main elements
html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin-top: 82px; // account for fixed navbar
}

footer {
  background: #fff;
  padding: 1rem;
  text-align: center;
}

.hero {
  flex: 1;
  background-image: url('@/assets/images/lijn.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px;
}


.content{
    background-color: $white;
    height: 20vh;
}

.container{
    padding: 2em 0; 
    width: 100vw;
}


strong {
  font-weight: bold;
}

#__nuxt {
  overflow-x:hidden; // preventing carousel from adding scrollbar. cant be in body due to viewport
}

.img-wrap {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}


.img-wrap > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  max-width: 90%;
  transform: translate(-50%, -50%);
  height: 100%;
}


// Colors of the elements
a { color: inherit !important; } 


/*
.carousel { overflow: hidden; padding-bottom: 10rem; }
.carousel-caption { top: 100%; }
.carousel-inner { overflow: visible; }
.carousel-control-next, .carousel-control-prev, .carousel-indicators { bottom: 10rem; }
*/



body{
    font-family: 'Overpass-Light' !important;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Livvic-Bold' !important;
}

body{
    background-color: $light-grey !important;
}

.my-button {
    background-color: $light-blue !important;
    border-color: $light-blue !important;
    color: $black !important;
}

nav {
  background-color: $grey-blue !important;
}


input:disabled+label {
  color: #ccc;
}

.locale-selector {
  background-color: $light-blue !important;
}

.nav-spacer{
    height: 100%;
    border: 1px solid $white;
    margin: 0 .2em;
    border-radius: 5px;
}

.nav-item a{
    color: var(--bs-nav-link-color);
}

.nav-link.active{
    background-color: $white !important;
    color: $black !important;
    border-radius: 6px;
}

.nav-link{
    padding: 5px;
    margin: 0px 10px 0px 10px;
}

nav .btn:hover{
    color: $grey-blue;
}

body .rounded{
    border-radius: 10px !important;
}

$percentages: (
    "25": 25%,
    "50": 50%,
    "75": 75%,
    "100": 100%,
);

@each $name, $value in $percentages{
    .w-#{$name}{
        color: $value;
    }
}

.layoutbox{

    border: 4px solid $dark-grey;

    .layoutbox-content{
        padding: 1em;
    }
}

.center-div{
    margin: 0 auto;
    display: block;
}

$custom-range-thumb-bg: $dark-grey;

$custom-control-indicator-checked-bg: $grey-blue;

.code-inactive{
    color: $white !important;
}

.code-active{
    background-color: $white !important;
    color: $black !important;
}

.btn-mirte{
    background-color: $yellow !important;
}

.btn-mirte-control {
  color: $black;
  font-weight: bold;
  border: 1px solid $black;
}

.btn-mirte-control:hover,
.btn-mirte-control:active,
.btn-mirte-control:focus,
.btn-mirte-control.active {
  background: $yellow;
  color: $white !important;
  border: 1px solid $black;
}

.icon-color{
  color: $yellow;
}